.loginpage{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    font-family: cursive;
}


.loginpage .log{
    inset: 4px;
    background:linear-gradient(-235deg,rgb(255, 0, 0),rgb(0, 0, 255));
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.logo{
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
    font-family: fantasy;
}
.log .r{
    color: red;
    font-weight: 700;
}
.log .b{
    color: rgb(0, 234, 255);
    font-weight: 700;
}
.loginpage .log{
    width: 750px;
    height: 600px;
    border: 1px solid rgb(255, 255, 255);
    background:rgba(15, 39, 95, 0.5)
}
.formbox{
    margin-top: 100px;
} 

.formbox h2{
    font-size: 44px;
    font-family: fantasy;
    text-align: center;
    position: relative;
    bottom: 30px;
}
.inputbox .form-control{
    position: relative;
    width: 100%;
    margin: 15px 0;
}

.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid blue;
    border-radius: 0;
    box-shadow: none;
    padding-top: 10px;
    color: white;
}

.inputbox label{
    position: relative;
    bottom: 75px;
    left: 1px;
    transition: .5s;
   
}
.inputbox input:focus ~ label{
     
   color: red;
    transition:0.1 delay;
}
button{
    position: relative;
    bottom: 40px;
    width: 380px;
}
.forgot{
    margin-top: 20px;
}

.ic{
    display: none;
}
.btn{
width: 100px;
margin-left: 10px;
margin-top: 30px;
}
.sign a{
    position: relative;
    top: 40px;
    left: 110px;
    font-family: fantasy;
    transition: .5s;
}
#btn{
    margin-left: 30px;
    width: 300px;
}

.sign a:hover{
    color: blue;
    transform: 0.6 delay;
}


@media only screen and (max-width: 600px) {
    .loginpage .log{
        width: 450px;
        height: 500px;
        border: 1px solid rgb(255, 255, 255);
        background:rgba(15, 39, 95, 0.5)
    }
    .logo{
        text-align: center;
        margin-top: 150px;
        font-size: 30px;
        font-family: fantasy;
    }
    button{
        position: relative;
        bottom: 40px;
        left: 30px;
        width: 180px;
    }
    .ic{
        display: none;
    }
    .btn{
        position: relative;
        left: 20px;
            width: 40px;
            
    }
    .sign a{
        position: relative;
        top: 40px;
        left: 40px;
    }
    
   #btn{
    width: 100px;
    position: relative;
    bottom: 86px;
    left: 10px;
   }
  }

  @media only screen and (max-width: 400px) {
    .loginpage .log{
        width: 250px;
        height: 500px;
        border: 1px solid rgb(255, 255, 255);
        background:rgba(15, 39, 95, 0.5)
    }
    .logo{
        text-align: center;
        margin-top: 20px;
        font-size: 28px;
        font-family: fantasy;
    }
    button{
        position: relative;
        bottom: 60px;
        left: 20px;
        width: 180px;
    }
    .forgot{
        margin-top: 20px;
        position: relative;
        right: 10px;
    }
    .formbox{
        position: relative;
        bottom: 50px;
    } 
    
    .formbox h2{
        font-size: 25px;
        font-family: fantasy;
        text-align: center;
        
    }
    .sign{
    display: none;
    }
    .on{
        display: none;
    }
    .ic{
        display: block;
     padding-left: 10px;
     padding-bottom: 20px;
     
    }
    .btn{
        position: relative;
        bottom: 80px;
            width: 40px;
            margin-top: 5px;
    }
   #btn{
    width: 100px;
    position: relative;
    bottom: 86px;
    left: 30px;
   }
  }

