<div class="regpage">
  <div class="input-box  sign-in">
    <div class="input-out">
    <form action="">
      <span class="logo1">Game</span><span class="logo2">Quora</span>
      <h2>Login </h2>
      <div class="input-group mb-3">
      
      <input type="text" class="form-control"   >
      <label class="lab">username</label>
      </div>
      <div class="input-group mb-3">
       
      <input type="password" class="form-control" >
      <label class="lab">Password</label>
      </div>
      <div class="rem">
        <span><a href="">Forgot Password?</a></span>
      </div>
      <button type="button" class="btn btn-outline-warning">SignIn</button>

      <div class="signup">
        <span>Don't have an account ?<a  (click)="signUp()" class="signInbtnlink"> Register</a></span>
      </div>
      <div class="social-ic">
        <span>Or sign in with</span>
        <div class="social-icon">
          <a href="#"><i class='bx bxl-google'></i></a>
          <a href="#"><i class='bx bxl-discord-alt' ></i></a>
          <a href="#">  <i class='bx bxl-facebook-square' ></i></a>
        </div>
      </div>
    </form>
  </div>
  </div>

  <div class="input-box sign-up">
    <div class="input-out">
    <form action="">
      
      <span class="logo1">Game</span><span class="logo2">Quora</span>
      <h2 class="signlog">Sign In</h2>
      <div class="input-group mb-3">
      
      <input type="text" class="form-control"   >
      <label class="lab">Fullname</label>
      </div>
      <div class="input-group mb-3">
      
        <input type="email" class="form-control"   >
        <label class="lab">Email</label>
        </div>
        <div class="input-group mb-3">
      
          <input type="text" class="form-control"   >
          <label class="lab">mobile no</label>
          </div>
      <div class="input-group mb-3">
       
      <input type="password" class="form-control" >
      <label class="lab">Password</label>
      </div>
      <div class="rem">
        <span><input type="checkbox"> I agree to the terms & condtions</span>
      </div>
      <button type="button" class="btn btn-outline-warning">Submit</button>

      <div class="signup">
        <span>already have an account ?<a  (click)="LoginUp()" class="signUpbtnlink"> Login</a></span>
      </div>
    </form>
  </div>
  </div>
</div>





































<!-- 
<div class="input-group mb-3">
  <label class="lab">Enter FullName :</label>
<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
<label class="lab">Email:</label>
<input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
<label class="lab">Enter Ful :</label>
<input type="date" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
<label class="lab">Enter Mobile :</label>
<input type="text" class="form-control" placeholder="Mobile No" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">

<div class="input-group mb-3">
<div class="input-group-text">
<input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
</div>
<input type="text" class="form-control" aria-label="Text input with checkbox">
</div>
</div> -->







<!-- <div class="loginpage">
 <div class="log">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="logo">
                <span class="r">Game</span><span class="b">Quora</span>
            </div>
            <div class="on">
                <a class="btn text-white" data-mdb-ripple-init style="background-color: #dd4b39;" href="#!" role="button">
                    <i class='bx bxl-google'></i>
                   
                  </a>
                  <a class="btn text-white" data-mdb-ripple-init style="background-color: #9d00ff;" href="#!" role="button">
                   
                    <i class='bx bxl-discord-alt' ></i>
                  </a>
                  <a class="btn text-white" data-mdb-ripple-init style="background-color: #4000ff;" href="#!" role="button">
                   
                    <i class='bx bxl-facebook-square' ></i>
                  </a>
            </div>
            <div>
    <span class="sign"><a href="#">Signup with Email</a></span>
            </div>
          </div>
          <div class="col">
           <div class="formbox">
            <h2>login</h2>
            <form>
                <div class="inputbox">
                <div class="mb-3">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                </div>
                <div class="mb-3">
                 
                  <input type="password" class="form-control" id="exampleInputPassword1">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                </div>
                <div class="mb-3 form-check">
                  <label class="forgot" for="exampleInputPassword1"><a href="#" >Forgot Password?</a></label>
                </div>
                <div class="ic">
                    <a class="btn text-white" data-mdb-ripple-init style="background-color: #dd4b39;" href="#!" role="button">
                        <i class='bx bxl-google'></i>
                       
                      </a>
                      <a class="btn text-white" data-mdb-ripple-init style="background-color: #9d00ff;" href="#!" role="button">
                       
                        <i class='bx bxl-discord-alt' ></i>
                      </a>
                      <a class="btn text-white" data-mdb-ripple-init style="background-color: #4000ff;" href="#!" role="button">
                       
                        <i class='bx bxl-facebook-square' ></i>
                      </a>
                     
                </div>
                <button type="submit" id="btn" class="btn btn-primary">Submit</button>
            </div>
              </form>
            </div>
          </div>
        </div>
    </div>
 </div>
</div> -->



















<!-- <div class="Body1">

    <div class="box">
        <span class="box2"></span>
        <form action="">
            
            <div class="row">
                <div class="BB">
                    <div class="boddy">
                <div class="wrapper">
                    <span class="bg-animate"></span>
                     <span class="bg-animate2"></span>
                
                <div class="form-box login">
                    <h2 class="animation" style="--i:0">login</h2>
                    <form action="#">
                <div class="input-box animation" style="--i:1">
                <input type="text" required>
                <label>username</label>
                <i class='bx bxs-user'></i>
                </div>
                <div class="input-box animation" style="--i:2">
                    <input type="password" required>
                    <label>password</label>
                    <i class='bx bxs-lock' ></i>
                    </div>
                    <button type="submit" class="btn animation" style="--i:3">Login</button>
                   <div class="input-box"> <div class="logreg-link animation" style="--i:4">
                        <p>Don't have an account ? <a (click)="signUp()" class="register-link">ContatUs </a></p>
                    </div>
                </div>
                    </form>
                </div>
                <div class="info-text login">
                    <h2 class="animation" style="--i:0;">Welcome Back!</h2>
                    <p  class="animation" style="--i:1;">visit Balaji Matrimony to choise perfect Jody</p>
                </div>
                <div class="form-box register">
                    <h2 class="animation" style="--i:17;">Contact Us</h2>
                    <form action="#">
                <div class="input-box animation" style="--i:18;">
                <input type="text" required>
                <label>Username</label>
                <i class='bx bxs-user'></i>
                </div>
                <div class="input-box animation" style="--i:19;">
                    <input type="text" required>
                    <label>PhoneNo</label>
                    <i class='bx bxs-phone-call' ></i>
                    </div>
                <div class="input-box animation" style="--i:20;">
                    <input type="email" required>
                    <label>Email</label>
                    <i class='bx bxs-envelope' ></i>
                    </div>
                    <button type="submit" class="btn animation" style="--i:21">Submit</button>
                   <div class="input-box"> <div class="logreg-link animation" style="--i:22;">
                        <p>Don't have an account ? <a  (click)="LoginUp()" class="login-link">LoginUp</a>|<a routerLink="../register">Register</a></p>
                    </div>
                </div>
                    </form>
                </div>
                <div class="info-text register">
                    <h2 class="animation" style="--i:23">Welcome Back!</h2>
                    <p class="animation" style="--i:24">visit Balaji Matrimony to choise perfect Jody</p>
                </div>
                </div>
                </div>
                </div>
                
                        </div>
                    </form>
                </div></div>
    
 -->























<!-- 
<div class="box">


<div class="log-page">

    <section class="">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 " style="border-radius: 20px 0px 0px 20px;" >
                <div class="cont-1">
                    <img src="..\..\..\assets\logo1.png">
                    <span class="log-3">
                        
                        A place to share knowledge  ,Skiles and better understand the world
                    </span>
                    
                </div>
                <div class="sign-up">
                    <button type="button" class="btn btn-outline-danger" data-mdb-ripple-init data-mdb-ripple-color="dark">
                        <a href="#!" class="sign">Sign up with Email</a>
            
                    </button>
                   
                </div>
            </div>
            <div class="col-lg-6 " style="border-radius: 0px 20px 20px 0px; " >

                <div class="head-name">
                    <h1>Login</h1>
                </div>
                <form>
                    <div class="input-filed">
                            <div class="form-outline" data-mdb-input-init>
                                <label class="form-label" for="typeText">Username/Email Id</label>
                                <input type="text" id="typeText" class="form-control" />
                                
                            <div class="form-outline" data-mdb-input-init>
                                <label class="form-label" for="typePassword">Password</label>
                                <input type="password" id="typePassword" class="form-control" />
                                 <div class="btn">
                                   
                                
                                    <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init data-mdb-ripple-color="dark">Signup</button>
                            </div>
                            <div class="rest-pass">
                                <a href="#" >Forgot Password?</a>
                            </div>
                            <span class="or-part1">or</span>
                            <div><hr class="line1"><hr class="line2"></div>
                              </div>
                          </div>
                          
                          <div class="btn-2">
                           
                              <button type="button" class="btn btn-outline-light" data-mdb-ripple-init data-mdb-ripple-color="dark"><img src="..\..\..\assets\social.png" class="g-log" width="50px" height="30px"></button>
                            
                                <button type="button" class="btn btn-outline-light" data-mdb-ripple-init data-mdb-ripple-color="dark"><img src="..\..\..\assets\discord.png" class="g-log" width="50px" height="30px"></button>
                          </div>
                          <span class="cont-2">
                            By continuing you indicate that you agree to Quora’s Terms of Service and Privacy Policy.
                          </span>
                    </div>
                </form>
            </div>
          </div>
        </div>
        
      </section>
</div> -->
