
<div class="regpage">
    <div class="input-box  sign-in">
      <div class="input-out">
      <form action="">
        <span class="logo1">Game</span><span class="logo2">Quora</span>
        <h2>Login </h2>
        <div class="input-group mb-3">
        
        <input type="text" class="form-control"   >
        <label class="lab">username</label>
        </div>
        <div class="input-group mb-3">
         
        <input type="password" class="form-control" >
        <label class="lab">Password</label>
        </div>
        <div class="rem">
          <span><a href="">Forgot Password?</a></span>
        </div>
        <button type="button" class="btn btn-outline-warning">SignIn</button>
  
        <div class="signup">
          <span>Don't have an account ?<a  (click)="signUp()" class="signInbtnlink"> Register</a></span>
        </div>
        <div class="social-ic">
          <span>Or sign in with</span>
          <div class="social-icon">
            <a href="#"><i class='bx bxl-google'></i></a>
            <a href="#"><i class='bx bxl-discord-alt' ></i></a>
            <a href="#">  <i class='bx bxl-facebook-square' ></i></a>
          </div>
        </div>
      </form>
    </div>
    </div>
  
    <div class="input-box sign-up">
      <div class="input-out">
      <form action="">
        
        <span class="logo1">Game</span><span class="logo2">Quora</span>
        <h2 class="signlog">Sign In</h2>
        <div class="input-group mb-3">
        
        <input type="text" class="form-control"   >
        <label class="lab">Fullname</label>
        </div>
        <div class="input-group mb-3">
        
          <input type="email" class="form-control"   >
          <label class="lab">Email</label>
          </div>
          <div class="input-group mb-3">
        
            <input type="text" class="form-control"   >
            <label class="lab">mobile no</label>
            </div>
        <div class="input-group mb-3">
         
        <input type="password" class="form-control" >
        <label class="lab">Password</label>
        </div>
        <div class="rem">
          <span><input type="checkbox"> I agree to the terms & condtions</span>
        </div>
        <button type="button" class="btn btn-outline-warning">Submit</button>
  
        <div class="signup">
          <span>already have an account ?<a  (click)="LoginUp()" class="signUpbtnlink"> Login</a></span>
        </div>
      </form>
    </div>
    </div>
  </div>
  
